.subs {
    display: flex;
    padding: 65px 0;
    align-items: center;
    justify-content: center;
}

.subs__container {
    background: #5D9EFE;
    color: #fff;
    padding: 121px 230px;
    width: 840px;
    text-align: center;
}

.subs__header {
    color: #FFF;
    font-size: 45px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.9px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subs__header::after {
    content: '';
    width: 55px;
    height: 3px;
    margin-top: 14px;
    background-color: #fff;
    align-self: center;
}

.subs__text {
    font-size: 19px;
    font-weight: 300;
    line-height: 180%;
    letter-spacing: -0.19px;
    margin: 20px 0 38px;
}

.subs__form {
    display: flex;
    width: 100%;
    gap: 25px;
    justify-content: space-between;
}

.subs__input {
    width: 500px;
    height: 65px;
    border: 0;
    outline: none;
    padding: 0 30px;
}

.subs__btn {
    width: 300px;
    outline: none;
    border: 0;
    display: flex;
    color: #fff;
    background-color: #1B3764;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    cursor: pointer;
    height: 64px;
}

@media screen and (max-width: 1320px) {
    .subs__container {
        padding: 70px 100px;
        max-width: calc(95% - 200px);
        flex-direction: column;
    }
}

@media screen and (max-width: 1070px) {
    .subs__container {
        padding: 50px 70px;
        flex-direction: column;
    }
}

@media screen and (max-width: 1023px) {
    .subs__container {
        padding: 25px 40px;
        max-width: calc(95% - 80px);
        flex-direction: column;
    }

    .subs__header {
        font-size: 36px;
    }

    .subs__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .subs__container {
        padding: 25px 20px;
        max-width: calc(95% - 40px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .subs__form {
        flex-direction: column;
        width: 90%;
    }

    .subs__input {
        width: calc(100% - 30px);
        padding: 0 15px;
    }

    .subs__btn {
        width: 100%;
    }
}