.unlock {
    width: 100%;
    display: flex;
    gap: 65px;
    flex-direction: column;
    background-color: #f5f7fa;
    justify-content: center;
    align-items: center;
}

.unlock__container {
    display: flex;
    max-width: 95%;
    width: 1356px;
    justify-content: space-between;
    gap: 50px;
}

.unlock__img {
    max-width: 445px;
    object-fit: contain;
}

.unlock__text-cont {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unlock__text-cont:first-of-type {
    padding-top: 25px;
}

.unlock__text-cont:last-of-type {
    padding-bottom: 25px;
}

.unlock__header {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    line-height: 122%;
    margin: 0;
}

.unlock__text {
    color: #717171;
    font-size: 14px;
    font-weight: 300;
    line-height: 142%;
    margin: 24px 0 20px; 
}

.unlcok__link {
    padding: 14px 32px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    border-radius: 4px;
    background-color: #005fff;
    display: inline-block;
    width: 87px;
    height: 24px;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .unlock__header {
        font-size: 32px;
    }

    .unlock__img {
        width: 40vw;
    }

    .unlock__text-cont {
        padding: 25px 0 0;
    }

    .unlock__text-cont:last-of-type {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .unlock__header {
        font-size: 28px;
    }

    .unlock__img {
        display: none;
    }
}